
        <article class="entry-asset">
            <header class="asset-header">
                
                <h1 class="asset-name">
                    <a title="{[$article['title']]}" href="/{[$article['id']]}">
                        {[$article['title']]}
                    </a>
                </h1>
                
                <div class="asset-meta">
                    <span class="byline">
                    
                        <span class="published">{[ $this->dateFormat($article['createdAt'], 'Y年m月d日'); ]}</span>
                        
                        {[ if($article['tags']): ]}
                            {[ foreach($article['tags'] as $tag): ]}
                                <a href="/tag/{[$tag['id']]}/">
                                   <code>{[$tag['name']]}</code>
                                </a>
                            {[ endforeach; ]}
                        {[ endif; ]}
                    </span>
                </div>
                
            </header>
            
            <hr />
                {[ if(isset($article['keyImage'])): ]}
                    <a href="{[$article['keyImageUrl']]}">
                    <img src="{[$article['keyImageUrl']]}" class="thumbnail"/>
                    </a>
                    <br />
                {[ endif; ]}
            
            <div class="asset-content">
                {[$article['body']]}
            </div>
            
            {[include(Include/SocialButtons)]}

        </article>
        
        <hr />
