
        <article class="entry-asset">
            <header class="asset-header">
                
                <h1 class="asset-name">
                    <a rel="bookmark"
                        title="{[$article['title']]}"
                        href="/{[$article['id']]}">{[$article['title']]}</a>
                </h1>
                
                <div class="asset-meta">
                    
                    <span class="byline">
                        <abbr class="published">{[$article['createdAt']]}</abbr>
                    </span>
                </div>
                
            </header>
            
            <hr />
                {[ if(isset($article['keyImage'])): ]}
                    <img src="{[$article['keyImageUrl']]}" /><br /><br />
                {[ endif; ]}
            
            <div class="asset-content">
                {[$article['body']]}
            </div>
            
            {[include(Include/SocialButtons)]}

        </article>
